# Kit Illick
### Assignment 4: Basic Python and Functions

#### Part 1

In [12]:
#Question 1
Co2_countries = ['China', 'United States', 'India', 'Russia', 'Japan', 'Iran', 'Indonesia', 'Saudi Arabia', 'Germany', 'South Korea']
Co2_countries

['China',
 'United States',
 'India',
 'Russia',
 'Japan',
 'Iran',
 'Indonesia',
 'Saudi Arabia',
 'Germany',
 'South Korea']

In [13]:
#Question 2
len(Co2_countries)

10

In [14]:
#Question 3
Co2_countries[:3]

['China', 'United States', 'India']

In [15]:
#Question 4
for i in Co2_countries:
    if 'a' in i:
        print(i)

China
United States
India
Russia
Japan
Iran
Indonesia
Saudi Arabia
Germany
South Korea

#### Part 2

In [18]:
# Question 1
countryEmissions = {'China': 13124.70, 'United States': 4632.16, 
                    'India': 3153.83, 'Russia': 2009.15, 
                    'Japan': 972.27, 'Iran': 828.99,
                    'Indonesia': 812.20, 'Saudi Arabia': 652.51,
                    'Germany': 579.94, 'South Korea': 588.01
                   }

In [20]:
#Question 2
countryEmissions['United States']

4632.16

In [23]:
#Question 3
highEmissions = []

for i in countryEmissions:
    if countryEmissions[i] > 1000:
        highEmissions.append(i)

highEmissions

['China', 'United States', 'India', 'Russia']

In [26]:
countryEmissions['Brazil'] = 491.47
countryEmissions

{'China': 13124.7,
 'United States': 4632.16,
 'India': 3153.83,
 'Russia': 2009.15,
 'Japan': 972.27,
 'Iran': 828.99,
 'Indonesia': 812.2,
 'Saudi Arabia': 652.51,
 'Germany': 579.94,
 'South Korea': 588.01,
 'Brazil': 491.47}

#### Part 3

In [32]:
#question 1
def kelvinToCelsius(K):
    """This function takes in a kelvin temperature and output the equivalent temperature in celsius"""
    return K - 273.15

In [52]:
#question 2
def tempToFahrenheit(temp, unit = 'celsius'):
    """This function takes in a temperature, either in celius or kelvin and converts it to fahrenheit
    If the temp is in kelvin it calls a previous function to convert it to celsius before converting to fahrenheit"""
    if unit == 'kelvin':
        cTemp = kelvinToCelsius(temp)
        fTemp = cTemp * 9/5 + 32
        return cTemp
    elif unit == 'celsius':
        fTemp = temp * 9/5 + 32
        return fTemp
    else:
        Print("Please enter temp, then specify either 'celsius' or 'kelvin'")

In [56]:
#Question 3
print(tempToFahrenheit(0, "celsius"))
print(tempToFahrenheit(273.15, "kelvin"))
print(tempToFahrenheit(15))

32.0
0.0
59.0

In [57]:
#Question 4
def fahrenheitToNewTemp(fTemp, type):
    """This function takes in a fahrenheit temperature and a type, celsius or kelvin,
    then returns the converted fahrenheit temp to either C or K depending on the user request"""
    cTemp = (fTemp - 32) * 5/9
    if type == 'celsius':
        return cTemp
    elif type == 'kelvin':
        return cTemp - 273.15
    else:
        print("User must enter celsius or kelvin as the type")

In [58]:
print(fahrenheitToNewTemp(60, 'celsius'))
print(fahrenheitToNewTemp(60, 'kelvin'))

15.555555555555555
-257.59444444444443

In [61]:
fahrenheitToNewTemp(20, 'mars')

User must enter celsius or kelvin as the type

In [62]:
#question 5
def imperialToMeters(feet, inches):
    """This function takes two arguments feet and inches and output height in terms of meters"""
    meters = feet * 0.3048 + inches * 0.0254
    return meters

In [63]:
imperialToMeters(6, 3)

1.9050000000000002

In [68]:
#Question 6
def metersToImperial(meters):
    """This function takes in meters and outputs feet and remainder inches"""
    metersToInches = meters * 39.3701
    feet = int(metersToInches // 12)
    inches = int(metersToInches % 12)
    return (feet, inches)

In [69]:
metersToImperial(1.905)

(6, 3)

In [72]:
#Question 7
#round trip conversion (p1 imperial to meters)
print(metersToImperial(3))
print(metersToImperial(1.9))
print(metersToImperial(2.76))

(9, 10)
(6, 2)
(9, 0)

In [73]:
#round trip conversian (p2 meters to imperial using the above values)
print(imperialToMeters(9, 10))
print(imperialToMeters(6, 2))
print(imperialToMeters(9, 0))

2.9972000000000003
1.8796000000000002
2.7432000000000003